.root { -fx-background-color: linear-gradient(to bottom, #3cf 0%, #003366 100%); }

#button {
  -fx-background-color: #ff5349;
  -fx-background-radius: 20;
  -fx-background-insets: 0;
  -fx-text-fill: white;
  -fx-padding: 5 5 5 5;
  -fx-font-size: 1.3em;
  -fx-font-weight: bold;
}

#button:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #ff5349;
  -fx-scale-y: 1.1;
}

#register_button {
  -fx-background-color: #ff5349;
  -fx-background-radius: 20;
  -fx-background-insets: 0;
  -fx-padding: 5 5 5 5;
  -fx-text-fill: white;
  -fx-font-size: 1.3em;
  -fx-font-weight: bold;
}

#register_button:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #ff5349;
  -fx-scale-y: 1.1;
}

#comboBox_Login {
  -fx-background-color: #fff;
  -fx-background-radius: 10;
}

#emaiLTextbox {
  -fx-background-color: #fff;
  -fx-background-radius: 6;
  -fx-text-fill: rgb(105, 105, 105);
  -fx-font-weight: bold;
}

#passtextBox {
  -fx-background-color: #fff;
  -fx-background-radius: 6;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(105, 105, 105);
}
