 .root {
     -fx-background-color: #6e7f80;
}
 #button {
     -fx-background-color: #ff5349;
     -fx-background-radius: 20;
     -fx-background-insets: 0;
     -fx-text-fill: white;
     -fx-padding: 5 5 5 5;
     -fx-font-size: 1.3em;
     -fx-font-weight: bold;
}
 #register_button {
     -fx-background-color: #ff5349;
     -fx-background-radius: 20;
     -fx-background-insets: 0;
     -fx-padding: 5 5 5 5;
     -fx-text-fill: white;
     -fx-font-size: 1.3em;
     -fx-font-weight: bold;
}
 