.root { -fx-background-color: linear-gradient(to bottom, #3cf 0%, #036 100%); }

#pane { -fx-background-color: white; }

#teaDashAttendance {
  -fx-background-color: #ff5349;
  -fx-background-radius: 10;
  -fx-background-insets: 0;
  -fx-text-fill: white;
  -fx-padding: 5 5 5 5;
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

#teaDashAttendance:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #ff5349;
  -fx-scale-y: 1.1;
}

#teaDashInfo {
  -fx-background-color: #ff5349;
  -fx-background-radius: 10;
  -fx-background-insets: 0;
  -fx-text-fill: white;
  -fx-padding: 5 5 5 5;
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

#teaDashInfo:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #ff5349;
  -fx-scale-y: 1.1;
}

#teaDashMarks {
  -fx-background-color: #ff5349;
  -fx-background-radius: 10;
  -fx-background-insets: 0;
  -fx-text-fill: white;
  -fx-padding: 5 5 5 5;
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

#teaDashMarks:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #ff5349;
  -fx-scale-y: 1.1;
}
